* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DBE7C9;
}


section:first-child {
    margin-top: 80px;
}


nav {
    background-color: #256b32;
    height: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav a {
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    font-family: monospace;
}

nav a:hover {
    background-color: #1E5128;
    transition: all 0.3s ease-out;
}

.li2 {
        background-color: #1E5128;
}


.para {
    display: flex;
    width: 90%;
    height: 40%;
    padding-top:30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 40px;
    color: #1E5128;
    transition: 0.3s;
}

.para:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

.para {
    margin-top: 0;
}

.para > div {
    border-right: 5px solid #789461;
    margin: 10px;
}
.para > div {
    border-left: 5px solid #789461;
    margin: 10px;
}


h1 {
    text-align: center;
    font-size: 35px;
    margin: 20px;

}


p {
    padding: 20px;
    font-size: 15px;
    font-family:cursive;
    color: #1E5128;
    line-height: 23px;
    
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px ;
    width: 50%;
    object-fit: cover;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 15px;
    margin: 10px;
}


hr {
    margin: 30px ;
    border: 3px solid #789461;
    border-radius: 5px;
}


.footer{
    background:#789461;
    font-family: monospace;
    text-align:center;
    margin-top: 70px;
    width: 100%;
    }
    
.footer .row{
    width:100%;
    padding-top: 40px;
    color: #112e17;
    font-size: 15px;
    margin-top: 20px;
    }
    
.footer .row a{
    text-decoration:none;
    color: #1E5128;
    transition:0.5s;
    font-size: 20px;
    border: 2px solid #1a4824;
    border-radius: 5px;
    padding: 5px;
    }
    
.footer .row a:hover{
        background-color: #1E5128;
        transition: all 0.3s ease-out;
        color: white;
    }
    
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }