
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DBE7C9;
}


nav {
    background-color: #256b32;
    height: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav a {
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    font-family: monospace;
}

nav a:hover {
    background-color: #1E5128;
    transition: all 0.3s ease-out;
}


h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 5rem;
    color: #256b32;
}


.slogan {
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    color: #184621aa;
    transition:0.5s;
}

.slogan:hover {
    transition: all 0.5s ease-in-out;
    color: #256b32;
    text-shadow: 0 0 5px #52b03f;
}

.bc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px ;
    width: 50%;
    object-fit: cover;
    border-radius: 30px;
    border: 7px solid #1E5128;
    margin-top: 50px;
    margin-bottom: 50px;
    transition:0.5s;
}

.bc:hover {
    transition:all 1s ease-in-out;
    transform:scale(1.1);
}


blockquote {
    background: #1e5128;
    border-left: 10px solid #4E9F3D;
    padding: 10px;
    color: black;
    width: 85%;
    display: block;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 20px;
  }
 blockquote:before {
    color: #4E9F3D;
    content: open-quote;
    font-size: 60px;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
    color: #ffffffce;
    font-family: monospace;
    font-size: 17px;
    line-height: 25px;
  }



.footer{
    background:#789461;
    font-family: monospace;
    text-align:center;
    margin-top: 70px;
    }
    
.footer .row{
    width:100%;
    padding-top: 40px;
    color: #112e17;
    font-size: 15px;
    margin-top: 20px;
    }
    
.footer .row a{
    text-decoration:none;
    color: #1E5128;
    transition:0.5s;
    font-size: 20px;
    border: 2px solid #1a4824;
    border-radius: 5px;
    padding: 5px;
    }
    
.footer .row a:hover{
        background-color: #1E5128;
        transition: all 0.3s ease-out;
        color: white;
    }
    
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }