* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #256b32;
    height: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}

nav a:hover {
    background-color: #1E5128;
    transition: all 0.3s ease-in-out;
}